# Testing different package speeds
## Testing CSV, xlsx writer, pandas, numpy.array

### Imports

In [4]:
import pandas as pd
import numpy as np
import xlsxwriter as excel
import csv
import datetime as dt

### Testing writing

In [9]:
val1 = 1
val2 = 0
val3 = 1 
resultDict = {}

In [38]:
with open('csvTest.csv' ,'w') as file:
    start = dt.datetime.now()
    writer = csv.writer(file)
    for i in range(0,100):
        writer.writerow([i, '12:47', val1, val2, val3])
    time = (dt.datetime.now() - start).total_seconds()
    resultDict['CSV'] = time
print(time, '/seconds')

0.0 /seconds

### Xlsx writer setup followed by test

In [19]:
 # Setup
 workbook = excel.Workbook('xlsxTest.xlsx')
 worksheet = workbook.add_worksheet()

In [37]:
start = dt.datetime.now()
for i in range(0, 100):
    check =worksheet.write(i, 1, '12:47' )
    if(check != 0):
        raise xlsxwriter.exceptions.XlsxWriterException

    check =worksheet.write(i,2, val1)
    if(check != 0):
        raise xlsxwriter.exceptions.XlsxWriterException

    check = worksheet.write(i, 3, val2)
    if(check != 0):
        raise xlsxwriter.exceptions.XlsxWriterException
    check = worksheet.write(i, 4, val3)
    if(check != 0):
        raise xlsxwriter.exceptions.XlsxWriterException
time = (dt.datetime.now() - start).total_seconds()
resultDict['xlsx'] = time
print(time, '/seconds')

0.001962 /seconds

### Pandas test

In [39]:
df = pd.DataFrame(columns = ['Time', 'Val1',' Val2', 'Val3'])
start = dt.datetime.now()
for i in range(0, 100):
    df.loc[i] = ['12:47', val1, val2, val3]
time = (dt.datetime.now() - start).total_seconds()
resultDict['Pandas'] = time
print(time, '/seconds')
df

0.163589 /seconds

     Time Val1  Val2 Val3
0   12:47    1     0    1
1   12:47    1     0    1
2   12:47    1     0    1
3   12:47    1     0    1
4   12:47    1     0    1
5   12:47    1     0    1
6   12:47    1     0    1
7   12:47    1     0    1
8   12:47    1     0    1
9   12:47    1     0    1
10  12:47    1     0    1
11  12:47    1     0    1
12  12:47    1     0    1
13  12:47    1     0    1
14  12:47    1     0    1
15  12:47    1     0    1
16  12:47    1     0    1
17  12:47    1     0    1
18  12:47    1     0    1
19  12:47    1     0    1
20  12:47    1     0    1
21  12:47    1     0    1
22  12:47    1     0    1
23  12:47    1     0    1
24  12:47    1     0    1
25  12:47    1     0    1
26  12:47    1     0    1
27  12:47    1     0    1
28  12:47    1     0    1
29  12:47    1     0    1
..    ...  ...   ...  ...
70  12:47    1     0    1
71  12:47    1     0    1
72  12:47    1     0    1
73  12:47    1     0    1
74  12:47    1     0    1
75  12:47    1     0    1
76  12:47    1     0    1
77  12:47    1     0    1
78  12:47    1     0    1
79  12:47    1     0    1
80  12:47    1     0    1
81  12:47    1     0    1
82  12:47    1     0    1
83  12:47    1     0    1
84  12:47    1     0    1
85  12:47    1     0    1
86  12:47    1     0    1
87  12:47    1     0    1
88  12:47    1     0    1
89  12:47    1     0    1
90  12:47    1     0    1
91  12:47    1     0    1
92  12:47    1     0    1
93  12:47    1     0    1
94  12:47    1     0    1
95  12:47    1     0    1
96  12:47    1     0    1
97  12:47    1     0    1
98  12:47    1     0    1
99  12:47    1     0    1

[100 rows x 4 columns]

### Results

In [40]:
print(resultDict)

{'CSV': 0.0, 'xlsx': 0.001962, 'Pandas': 0.163589}